NuMo_Test/NuMo_Test/NuMo_Test/bin/
NuMo_Test/NuMo_Test/NuMo_Test/obj/
NuMo_Test/NuMo_Test/NuMo_Test.Android/bin/
NuMo_Test/NuMo_Test/NuMo_Test.Android/obj/
NuMo_Test/NuMo_Test/NuMo_Test.iOS/bin/
NuMo_Test/NuMo_Test/NuMo_Test.iOS/obj/
NuMo_Test/.vs/