NuMo_Tabbed/NuMo_Tabbed/NuMo_Tabbed/bin/
NuMo_Tabbed/NuMo_Tabbed/NuMo_Tabbed/obj/
NuMo_Tabbed/NuMo_Tabbed/NuMo_Tabbed.Android/bin/
NuMo_Tabbed/NuMo_Tabbed/NuMo_Tabbed.Android/obj/
NuMo_Tabbed/NuMo_Tabbed/NuMo_Tabbed.iOS/bin/
NuMo_Tabbed/NuMo_Tabbed/NuMo_Tabbed.iOS/obj/
NuMo_Tabbed/.vs/NuMo_Tabbed/v15/Server/sqlite3/storage.ide-wal
NuMo_Tabbed/.vs/NuMo_Tabbed/v15/Server/sqlite3/storage.ide-shm
NuMo_Tabbed/.vs/NuMo_Tabbed/v15/Server/sqlite3/storage.ide
/NuMo_Tabbed/.vs/NuMo_Tabbed/v16/Server/sqlite3

/NuMo_Tabbed/.vs/NuMo_Tabbed/v16

